/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.my-ex-tooltip {
  background-color: red;
  color: blue;
  font-size: 44px;
  transform: rotate(90deg);  
}
