/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.my-ex-tooltip {
  background-color: rgb(103, 82, 79);
  color: rgb(116, 14, 8);
  font-size: 12px;
  /*TBD: transform not working
   * Because already set
   */
  transform: rotate(90deg);
}
