<div class="zoom-display-container" fxLayout="column">
  <mat-toolbar color="primary"
  (swipeleft)="prevSource()"
  (swiperight)="nextSource()">
    <span>
      <span>
        <button mat-icon-button
        (click)="prevSource()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </span>
      <span>{{idx+1}}/{{sourceSlides.length}}</span>
      <span>
        <button mat-icon-button
        (click)="nextSource()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </span>
    </span>

    <span>
      <button mat-icon-button
        (click)="fitBounds()">
        <mat-icon>zoom_out_map</mat-icon>
      </button>
    </span>
    <span>
      <button mat-icon-button
        (click)="triggerHelp()">
        <mat-icon>info</mat-icon>
      </button>
    </span>
  </mat-toolbar>
  <div class="zoom-container" fxFlex>
    <fze-leaflet-zoom-display #zoomDisplay
      fxFlex
      [sourceSlideContent]="sourceSlides[idx]"
      (overlayClick)="onOverlayClick($event)"></fze-leaflet-zoom-display>
  </div>
</div>
<!-- <button mat-raised-button (click)="prevSource()">Previous Source</button>
<button mat-raised-button (click)="fitBounds()">Fit Bounds</button>
<button mat-raised-button (click)="nextSource()">Next Source</button> -->
